name: "Create Latest Tag"

on:
  release:
    types: [published]
    branches: master

jobs:
  run:
    name: Run local action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@master

      - name: Run latest-tag
        uses: EndBug/latest-tag@v1.5.1
        with: 
          force-branch: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}